* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

.wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    user-select: none;
}

.static-image {
    filter: brightness(15%);
    user-select: none;
}

.dynamic-image {
    position: relative;
    height: 100vh;
    opacity: .99;
    animation: interference 25s infinite;
    user-select: none;
}

.shadow {
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 50px 40px rgba(0, 0, 0, .9);
    user-select: none;
}

.object {
    position: absolute;
}

.object span {
    display: block;
    padding: 5px 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.object span:hover {
    background-color: rgba(255, 255, 0, .5);
    box-shadow: 0px 0px 25px 1px rgba(255, 255, 0, .5);
}

.info {
    position: fixed;
    z-index: 999;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-right: 1px solid rgba(255, 236, 255, .1);
    border-bottom: 1px solid rgba(255, 236, 255, .1);
}

.controlls {
    position: relative;
    top: 43px;
}

.controlls .controlls__open {
    z-index: 999;
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.settings {
    margin-top: 30px;
    transition: .5s;
    transform: translateX(-100%);
    position: fixed;
    z-index: 555;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-right: 1px solid rgba(255, 236, 255, .1);
    border-bottom: 1px solid rgba(255, 236, 255, .1);
}

.settings-active {
    transform: translateX(0%);
}

.settings input {
    display: block;
}

.shop {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.shop__btn {
    margin-top: 10px;
}

@keyframes interference {
    1% {
        opacity: 1;
    }
    1.2% {
        opacity: .3;
    }
    1.3% {
        opacity: .8;
    }
    1.5% {
        opacity: .3;
    }
    1.6% {
        opacity: .8;
    }
    1.7% {
        opacity: .1;
    }
    1.8% {
        opacity: 1;
    }
    5.3% {
        opacity: .7;
    }
    5.4% {
        opacity: .1;
    }
    5.5% {
        opacity: .6;
    }
    6% {
        opacity: .2;
    }
    6.1% {
        opacity: 1;
    }
    6.2% {
        opacity: .1;
    }
    7% {
        opacity: .1;
    }
    7.1% {
        opacity: 1;
    }
    7.2% {
        opacity: .1;
    }
    8.1% {
        opacity: .1;
    }
    8.2% {
        opacity: 1;
    }
    8.3% {
        opacity: .1;
    }
    8.4% {
        opacity: 1;
    }
    8.5% {
        opacity: .1;
    }
    8.6% {
        opacity: .1;
    }
    8.7% {
        opacity: 1;
    }
    8.8% {
        opacity: .1;
    }
    8.9% {
        opacity: 1;
    }
    18.4% {
        opacity: 1;
    }
    18.5% {
        opacity: .1;
    }
    18.6% {
        opacity: 1;
    }
    28.4% {
        opacity: 1;
    }
    28.5% {
        opacity: .1;
    }
    28.6% {
        opacity: 1;
    }
    28.7% {
        opacity: 1;
    }
    28.8% {
        opacity: .1;
    }
    28.9% {
        opacity: 1;
    }
    29% {
        opacity: 1;
    }
    29.1% {
        opacity: .1;
    }
    29.4% {
        opacity: 1;
    }
    68.4% {
        opacity: 1;
    }
    68.5% {
        opacity: .1;
    }
    68.6% {
        opacity: 1;
    }
}